.example-spacer {
    flex: 1 1 auto;
}
.logo {
    // margin:10px;
    // max-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    img {
        height: 24px;
        width: 24px;
    }
    p {
        font-family: Poppins;
        color: black;
        font-size: 24px;
        color: rgba(12, 10, 9, 0.6470588235);
        // font-weight: 700;
    }
}
.header {
    z-index: 100;
    max-width: 140rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    // background: #e1e0de;
    color: black;
    height: 100px;
    height: fit-content;
    // border-bottom: 1px solid black;
    gap: 50px;

    .input-form {
        // width: 1000px;
        // height: 54px;
        // background-color: white;

        // margin-top: 20px;
        border-radius: 10px;
        align-items: center;

        .location {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 10px;
            justify-content: space-between;
            // justify-content: center;
            span {
                color: var(--primary-color);
                font-size: 1.75rem;
                padding-bottom: 20px;
            }
            input {
                // padding-top:10px;
                background-color: transparent;
            }
        }
    }
    // button {

    // }
    .property {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        margin-left: 200px;
        background-color: transparent;

        padding: 10px;

        font-size: 16px;
        font-family: var(--my-font);
    }
    .property:hover {
        background-color: var(--primary-color);
        color: white;
    }
    .login {
        font-size: 18px;
        color: rgba(12, 10, 9, 0.6470588235);
        font-family: var(--my-font);
    }
    .user {
        font-size: 18px;
        color: rgba(12, 10, 9, 0.6470588235);
        font-family: var(--my-font);
        display: flex;
        flex-direction: row;
        align-items: center;
    
        button {
            border-radius: 24px;
            border: 1px solid #dddddd;
            background-color: transparent;
            width: 90px;
            height: 48px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            img {
                border-radius: 20px;
                height: 32px;
                width: 32px;
                // border: 1px solid black;
            }
        }
        button:hover{
            box-shadow: 0 2px 10px rgb(0 0 0 / 11%);
        }
    }
}
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding: 0 !important;
}
.mat-mdc-form-field-infix {
    min-height: 20px !important;
}
// * {
//     color: white;
// }
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
    color: black !important;
    border-bottom: 0.5px solid black !important;
}
.section {
    padding: 0px 140px;
    // border-bottom: 1px solid var(--text-light);
    box-shadow: 0 2px 10px rgb(0 0 0 / 11%);
}
.bg-color {
    background-color: transparent;
}
a {
    color: #af1313;
}

a:hover {
    color: var(--primary-color);
    cursor: pointer;
    background: #dddddd6a;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a {
    padding: 1rem;
    display: inline-block;
}

a span {
    color: var(--primary-color);
    // color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
}

.menu-container {
    position: relative;
}

.menu {
    position: absolute;
    z-index: 1;
    // background: whitesmoke;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    display: none;
    border-radius: 20px;
    margin-top: 1px;
}

.menu-container:hover .menu {
    display: block;
    width: 200px;
}

a {
    width: 100%;
    min-width: 8rem;
    text-decoration: none;
}
.wishlist-btn {
    background-color: transparent;
    i {
        font-size: 32px;
    }
}

