<div class="section">
    <div class="header" >
        <div class="logo">
            <img src="../../../assets/address.png" alt="logo" (click)="searchpg('Delhi')" />
            <p>CozyDorms</p>
        </div>
        <div class="input-form">
            <div class="location">
                <span><i class="ri-map-pin-2-fill"></i></span>
                <mat-form-field>
                    <input type="text" placeholder="Location" [matAutocomplete]="auto" matInput value="Mumbai"
                        readonly />
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteroptions | async" [value]="option">
                            {{option}}</mat-option>
                    </mat-autocomplete></mat-form-field>
            </div>
        </div>

        <button class="property" (click)="gotoyours()">Post Your Property</button>
        <button class="wishlist-btn" (click)="gotowishlist()"> <i class="material-icons">favorite</i></button>
        <!-- <div class="login" (click)="gologin()" *ngIf="!isAuth">Login/Signup</div>
        <div class="login" (click)="logout()" *ngIf="isAuth">Logout</div>
       <div class="user" *ngIf="user">
            <div class="user-img"><img [src]="user.img"></div>
            <div class="name">{{user.name}}</div>
        </div> 
        <ul>
            <li class="menu-container"></li>
        </ul> -->

        <nav>

            <div *ngIf="!this.user.name" class="login">
                <a (click)="gologin()">Login/Signup </a>

            </div>
            <div *ngIf="this.user.name" class="user">
                <!-- <div class="user-img"><img [src]="user"></div> -->
                <div class="menu-container">
                    <!-- <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/yourproperty">Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div> -->
                    <button>
                        <i class="material-icons">menu</i>
                        <img [src]="this.user.image">
                    </button>
                    <div class="menu">
                        <a (click)="openprofile()">Profile</a>
                        <a routerLink="/yourproperty">Your Properties</a>
                        <a (click)="logout()">Logout</a>
                    </div>

                </div>
            </div>
        </nav>
    </div>
</div>