<!-- //login -->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoggedIn && !forgotpassword">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
            <p style="color: gray; padding: 10px 0px;">Don't have an account? <u (click)="isLoggedIn=!isLoggedIn"
                    style="color: var(--primary-color);">Register</u></p>
        </mat-card-header>
        <form class="example-form" (submit)="userLogin()" [formGroup]="loginForm">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="email" formControlName="email">
                    <mat-error *ngIf="fclogin.email.hasError('required')">
                        Email is required.
                    </mat-error>
                    <mat-error *ngIf="fclogin.email.hasError('email')">
                        Please enter a valid email address.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">

                    <input matInput placeholder="Password" [type]="showpassword ? 'text' : 'password'"
                        formControlName="password">
                    <div (click)="showpassword=!showpassword" matSuffix><i
                            [class]="showpassword ? 'fa solid fa-eye' : 'fa-solid fa-eye-slash' "></i></div>
                    <mat-error *ngIf="fclogin.password.hasError('required')">
                        Password is required.
                    </mat-error>
                    <mat-error *ngIf="fclogin.password.hasError('minlength')">
                        Password must be at least 8 characters.
                    </mat-error>
                </mat-form-field>



                <button mat-raised-button type="submit" style="margin:20px 0">
                    LOGIN
                </button>
                <div style="color:black;margin-bottom: 20px;"><u (click)="forgotpassword=true;userforreset=true">Forgot
                        Password</u>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>

<!-- //sign in -->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center"
    *ngIf="!isLoggedIn && !forgotpassword && !userforsignup">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
            <p style="color: gray; padding: 10px 0px;">Already have an account? <u (click)="isLoggedIn=!isLoggedIn"
                    style="color: var(--primary-color);">Login</u></p>
        </mat-card-header>
        <form class="example-form" [formGroup]="signUpForm" (submit)="userRegister()">
            <mat-card-content>
                <div *ngIf="!otpverified">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Name" type="text" formControlName="name">
                        <mat-error *ngIf="fcsignup.name.hasError('required') && fcsignup.name.touched">
                            Name is required.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" type="email" formControlName="email">
                        <mat-error *ngIf="fcsignup.email.hasError('required') && fcsignup.email.touched">
                            Email is required.
                        </mat-error>
                        <mat-error *ngIf="fcsignup.email.hasError('email') && fcsignup.email.touched">
                            Please enter a valid email address.
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" style="width: 100%; height: 50px;"
                        (click)="userforsignup=true; sendotp(signUpForm.controls.email.value)" [disabled]="(fcsignup.email.hasError('email')  )|| (fcsignup.name.hasError('required')
                        ) ">
                        NEXT &rarr;
                    </button>
                </div>
                <div *ngIf="otpverified">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" type="email" formControlName="email" readonly>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password" [type]="showpassword ? 'text' : 'password'"
                            formControlName="password">
                        <div (click)="showpassword=!showpassword" matSuffix>
                            <i [class]="showpassword ? 'fa solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
                        </div>
                        <mat-error *ngIf="fcsignup.password.hasError('required')">
                            Password is required.
                        </mat-error>
                        <mat-error *ngIf="fcsignup.password.hasError('minlength')">
                            Password must be at least 8 characters long.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Confirm Password" [type]="showpassword2 ? 'text' : 'password'"
                            formControlName="confirmpassword">
                        <div (click)="showpassword2=!showpassword2" matSuffix>
                            <i [class]="showpassword2 ? 'fa solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
                        </div>
                        <mat-error *ngIf="fcsignup.confirmpassword.hasError('required')">
                            Confirm Password is required.
                        </mat-error>
                        <mat-error *ngIf="fcsignup.confirmpassword.value !== fcsignup.password.value">
                            Passwords do not match.
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" style="width: 100%; height: 50px;" type="submit"
                        [disabled]="signUpForm.invalid || fcsignup.confirmpassword.value !== fcsignup.password.value">
                        SIGN UP
                    </button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>

<!-- //verify otp -->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="(forgotpassword )&& !otpverified">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title style="font-size: 24px;">OTP Verification</mat-card-title>
        </mat-card-header>
        <br>
        <form class="example-form" [formGroup]="resetForm">
            <mat-card-content>
                <div *ngIf="!showOtpComponent">
                    <h3 style="font-weight: 500;">Enter your email address</h3>
                    <p>You will receive an email with a One-time password</p>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" type="email" [readonly]="showOtpComponent || otpverified"
                            formControlName="email">
                    </mat-form-field>
                    <button mat-raised-button color="primary" style="width: 100%; height: 50px;"
                        (click)="showOtpComponent=true;sendotp(resetForm.controls.email.value)"
                        [disabled]="this.resetForm.controls.email.errors">
                        NEXT &rarr;
                    </button>
                </div>

                <div *ngIf="showOtpComponent && !otpverified">
                    <h3 style="font-weight: 500;">Enter one-time password.</h3>
                    <p style="color: var(--primary-color); font-weight: 500; margin: 0px;">Enter the 4-digit code
                        we sent you to
                        continue.</p>
                    <div class="otp-group">
                        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"
                            class="otps"></ng-otp-input>
                    </div>

                    <p style="color: var(--primary-color); font-weight: 500; margin: 0px;">Not your email?<br>
                        Didn't receive the
                        code? <a (click)="showOtpComponent=false;"><u>Try Again</u></a>
                    </p>
                    <button mat-raised-button color="primary" style="width: 100%; height: 50px;" (click)="otpEntered()"
                        [ngClass]="{'error-shake': incorrectotp}">
                        VERIFY &rarr;
                    </button>
                </div>



            </mat-card-content>
        </form>
    </mat-card>
</div>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="userforsignup&& !otpverified">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title style="font-size: 24px;">OTP Verification</mat-card-title>
        </mat-card-header>
        <br>
        <form class="example-form" [formGroup]="resetForm">
            <mat-card-content>


                <h3 style="font-weight: 500;">Enter one-time password.</h3>
                <p style="color: var(--primary-color); font-weight: 500; margin: 0px;">Enter the 4-digit code
                    we sent you to
                    continue.</p>
                <div class="otp-group">
                    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config" class="otps"></ng-otp-input>
                </div>

                <p style="color: var(--primary-color); font-weight: 500; margin: 0px;">Not your email?<br>
                    Didn't receive the
                    code? <a (click)="showOtpComponent=false;"><u>Try Again</u></a>
                </p>
                <button mat-raised-button color="primary" style="width: 100%; height: 50px;" (click)="otpEntered()"
                    [ngClass]="{'error-shake': incorrectotp}">
                    VERIFY &rarr;
                </button>




            </mat-card-content>
        </form>
    </mat-card>
</div>

<!-- //reset password -->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center"
    *ngIf="forgotpassword && otpverified && userforreset">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title style="font-size: 24px;">Reset Password</mat-card-title>
        </mat-card-header>
        <br>
        <form class="example-form" [formGroup]="resetForm">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="email" readonly [value]="resetForm.controls.email.value">
                </mat-form-field>

                <mat-form-field class="example-full-width">

                    <input matInput placeholder="Password" [type]="showpassword ? 'text' : 'password'"
                        formControlName="password">
                    <div (click)="showpassword=!showpassword" matSuffix><i
                            [class]="showpassword ? 'fa solid fa-eye' : 'fa-solid fa-eye-slash' "></i></div>
                    <mat-error *ngIf="fcupdate.password.hasError('required')">
                        Password is required.
                    </mat-error>
                    <mat-error *ngIf="fcupdate.password.hasError('minlength')">
                        Password must be at least 8 characters long.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">

                    <input matInput placeholder="Confirm Password" [type]="showpassword2 ? 'text' : 'password'"
                        formControlName="confirmpassword">
                    <div (click)="showpassword2=!showpassword2" matSuffix><i
                            [class]="showpassword2 ? 'fa solid fa-eye' : 'fa-solid fa-eye-slash' "></i></div>
                    <mat-error *ngIf="fcupdate.confirmpassword.hasError('required')">
                        Confirm Password is required.
                    </mat-error>
                    <mat-error *ngIf="this.fcupdate.confirmpassword.value !=this.fcupdate.password.value">
                        Passwords do not match.
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button style="width: 100%; height: 50px;" (click)="passwordReset()"
                    [disabled]="this.resetForm.errors || this.fcupdate.confirmpassword.value !=this.fcupdate.password.value ">
                    RESET
                </button>
            </mat-card-content>
        </form>
    </mat-card>
</div>