.wrap-div {
    margin: 40px 30px;
    display: flex;
}
.filter-section {
    // position: fixed;

    // overflow-y: scroll;
    // top: 0;
    // bottom: 0;
    .filter-header {
        display: flex;
        // justify-content: space-between;
        // max-height: 70px;
        align-items: center;
        gap: 100px;
        flex-direction: row;

        .heading {
            font-size: 30px;
            font-weight: 500;
            // font-stretch: normal;
            // line-height: 1.23;
            color: #333;
            // margin-top: 16px;
        }
        .clearall {
            font-size: 16px;
            font-weight: 500;
            color: #ee2a24;
            // text-align: right;
            cursor: pointer;
        }
    }
    .filters__item {
        display: flex;
        flex-direction: column;
        span {
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.pg-section {
    // flex: 60%;
    align-self: flex-start;
    margin-top: 40px;
}

ul {
    display: flex;
    flex-direction: column;
    li {
        display: flex;
        flex-direction: row;
    }
}
.pg-image {
    flex: 40%;
    height: 3vh;
    // padding: 20px;
}
.pg-info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    flex: 60%;
    justify-content: flex-start;

    // padding: 20px;
}
h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
    // line-height: 24px;
    color: #222;
    font-family: Inter, sans-serif;
    line-height: 1.2;
}
// css example
span {
    content: "\2606";
}
.rating {
    width: 50px;
    margin: 10px 0px;
    //  background-color: #267e3e;
    background-color: #355562;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px;
}
.Amenities {
    display: flex;
    align-items: center;
    max-width: 25%;
    padding-right: 24px;
}

.Amenities-wrapper {
    display: flex;
}
.icon {
    padding-right: 10px;
}
.footer {
    display: flex;
    // justify-content: space-around;
    gap: 10px;
    margin: 20px 0px;
}

.ri-flag-fill {
    color: rgba(214, 74, 74, 1);
}
.owner-details-btn {
    padding: 10px 40px;
    font-size: 16px;
    // background-color: var(--primary-color);
    background-color: #355562;
    color: white;
    font-weight: 500;
    border: none;
}
.like-btn {
    // color: rgba(214,74,74,1);
    padding: 5px 12px;
    //  border: none;
    //   color: rgba(157, 141, 141, 0.953);
    // font-size: 25px;
    background-color: white;
    // background-color: #355562;
    border: 1px solid rgba(157, 141, 141, 0.953);
    color: rgba(157, 141, 141, 0.953);
}

.report-btn {
    padding: 5px 12px;
    //  border: none;
    color: rgba(157, 141, 141, 0.953);
    font-size: 25px;
    background-color: white;
    border: 1px solid rgba(157, 141, 141, 0.953);
}
.base-price {
    font-size: 20px;
    color: #222;
    font-weight: 700;
    margin-right: 8px;
}

.features {
    margin: 10px 0px;
    ul {
        button {
            padding: 7px 7px;
            margin: 0px 8px 8px 0px;
            color: #0f1111;
            font-size: 16px;
            font-weight: 400;
            background-color: rgb(251 136 182 / 35%);
            //    background-color: #355562;
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;

            li {
                display: flex;
                gap: 5px;
            }
        }
    }
}
