<div class="wrap-div">
    <div class="header">
        <div>Shortlisted Properties</div>
        <!-- <button routerLink="/add">Add Property</button> -->
        <!-- <button><i class="fa-solid fa-circle-plus"></i></button> -->
        <!-- <button routerLink="/add"><span class=" material-symbols-outlined">
                add_location_alt
            </span></button> -->
    </div>
    <div class="pg-section ">
        <!-- <div class="tags-section">
            <ul>
                <li *ngFor="let filter of selectedFilters">{{filter.type}}</li>
            </ul>
        </div> -->
        <ul>
            <li *ngFor="let pg of wishlist">
                <div class="pg-card">
                    <div class="pg-image">
                        <img [src]="pg.imageUrl" [alt]="pg.name">
                    </div>
                    <div class="pg-info">
                        <div class="first">
                            <h3>{{pg.name}}</h3>
                            <div class="buttons">
                                <button [routerLink]="'/editpg/'+pg.id"><span class="material-symbols-outlined">
                                        edit
                                    </span></button>
                                <button (click)="deletepg(pg.id)"><span class="material-symbols-outlined"
                                        style=" color: var(--primary-color);">
                                        delete
                                    </span></button>
                            </div>
                        </div>
                        <span
                            style=" margin: 5px 0px; font-size: 16px; font-family: Inter,sans-serif; line-height: 25px; font-weight: 400;">{{pg.address}}
                        </span>
                        <div *ngIf="pg.ratingcnt!=0">
                            <button class="rating">{{convert(pg.stars)}}
                                <span class="fas fa-star "></span>
                            </button>
                            <span style="padding: 10px;">({{pg.ratingcnt}} ratings) . Good</span>
                        </div>
                        <div *ngIf="pg.ratingcnt==0">
                            <button class="rating">NEW
                            </button>

                        </div>




                        <div class="features">
                            <ul>


                                <!-- <li *ngFor="let tag of foundfilters"><svg width="18" height="18" viewBox="0 0 60 61"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M30.0002 57.4601C44.9119 57.4601 57.0002 45.3718 57.0002 30.4601C57.0002 15.5485 44.9119 3.46014 30.0002 3.46014C15.0885 3.46014 3.00018 15.5485 3.00018 30.4601C3.00018 45.3718 15.0885 57.4601 30.0002 57.4601Z"
                                        fill="var(--primary-color)"></path>
                                    <path
                                        d="M24.0051 42.4601L15.8817 34.7588C15.3173 34.2217 15.0002 33.4932 15.0002 32.7336C15.0002 31.974 15.3173 31.2455 15.8817 30.7084C16.4462 30.1713 17.2117 29.8696 18.01 29.8696C18.8082 29.8696 19.5738 30.1713 20.1383 30.7084L24.0051 34.4165L39.8621 19.299C40.4266 18.7619 41.1921 18.4601 41.9904 18.4601C42.7886 18.4601 43.5542 18.7619 44.1186 19.299C44.6831 19.8361 45.0002 20.5646 45.0002 21.3242C45.0002 22.0838 44.6831 22.8122 44.1186 23.3493L24.0051 42.4601Z"
                                        fill="white"></path>
                                </svg>{{tag}}
                            </li> -->
                                <li><svg width="18" height="18" viewBox="0 0 60 61" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M30.0002 57.4601C44.9119 57.4601 57.0002 45.3718 57.0002 30.4601C57.0002 15.5485 44.9119 3.46014 30.0002 3.46014C15.0885 3.46014 3.00018 15.5485 3.00018 30.4601C3.00018 45.3718 15.0885 57.4601 30.0002 57.4601Z"
                                            fill="var(--primary-color)"></path>
                                        <path
                                            d="M24.0051 42.4601L15.8817 34.7588C15.3173 34.2217 15.0002 33.4932 15.0002 32.7336C15.0002 31.974 15.3173 31.2455 15.8817 30.7084C16.4462 30.1713 17.2117 29.8696 18.01 29.8696C18.8082 29.8696 19.5738 30.1713 20.1383 30.7084L24.0051 34.4165L39.8621 19.299C40.4266 18.7619 41.1921 18.4601 41.9904 18.4601C42.7886 18.4601 43.5542 18.7619 44.1186 19.299C44.6831 19.8361 45.0002 20.5646 45.0002 21.3242C45.0002 22.0838 44.6831 22.8122 44.1186 23.3493L24.0051 42.4601Z"
                                            fill="white"></path>
                                    </svg>{{pg.tenantgender}}
                                </li>



                            </ul>
                        </div>
                        <div class="footer">
                            <div class="Charges" style="  margin: 10px 0px;">
                                <span><span class="base-price">{{findminprice(pg.rooms)}}</span> Onwards</span>
                            </div>
                            <div class="owner-details-btn" [routerLink]="'/results/pg/'+pg.id"><button>View
                                    Details</button>
                            </div>
                            <button (click)="IsInWishlist(pg)" class="like-btn">
                                <mat-icon *ngIf="!isPgInWishlist(pg)" style="color: var(--primary-color);">
                                    favorite_border
                                </mat-icon>
                                <mat-icon *ngIf="isPgInWishlist(pg)" style="color: var(--primary-color);">
                                    favorite
                                </mat-icon>
                            </button>

                        </div>
                    </div>

                </div>




            </li>

        </ul>

    </div>


</div>