<div class="wrap-div">
    <!-- <div class="header">
        <div>Shortlisted Properties</div>
        <button routerLink="/add">Add Property</button> -->
    <!-- <button><i class="fa-solid fa-circle-plus"></i></button> -->
    <!-- <button routerLink="/add"><span class=" material-symbols-outlined">
                add_location_alt
            </span></button> 
    </div> -->
    <div class="header">
        <p class="section__subheader">YOUR FAVOURITES</p>
        <h2 class="section__header">Shortlisted Properties.</h2>
    </div>
    <section class="section__container room__container">

        <div class="room__grid">
            <div class="room__card" *ngFor="let pg of wishlist">
                <div class="room__card__image">
                    <img src="assets/room-1.jpg" alt="room" />
                    <div class="room__card__icons">
                        <span (click)="IsInWishlist(pg)"><button class="wishlist-btn">
                                <i class="material-icons" style="color: var(--primary-color);">favorite</i>

                            </button></span>
                    </div>
                </div>
                <div class="room__card__details">
                    <h4>{{pg.name}}</h4>
                    <p>
                        {{pg.address}}
                    </p>
                    <h5>Starting from <span>Rs {{ findminprice(pg.rooms)}}/month</span></h5>
                    <button class="btn">View Now</button>
                </div>
            </div>

        </div>
    </section>


</div>