<div>

    <main class="main-div">

        <div class="main">
            <section>
                <div class="images-section">
                    <div width="62.4%" class="sc-bXVTRF eXVggh">
                        <div height="40%" width="100%" class="sc-s1isp7-1 gMhjmN sc-hWWTYC kGlYQq">
                            <img alt="image"
                                src='{{pg.imageUrl[0] + "?fit=around|771.75:416.25&amp;crop=771.75:416.25;*,*"}}'
                                loading="lazy" class="sc-s1isp7-5 eQUAyn" style="max-height: 400px;">
                        </div>
                    </div>
                    <section class="image-2">
                        <div width="100%" class="sc-bXVTRF gZZPsX">
                            <div height="40%" width="100%" class="sc-s1isp7-1 gMhjmN sc-hWWTYC kGlYQq">
                                <div alt="image" class="sc-s1isp7-0 tzISf"></div><img alt="image"
                                    src='{{pg.imageUrl[1]}}+?fit=around|300:273&amp;crop=300:273;*,*' loading="lazy"
                                    class="sc-s1isp7-5 eQUAyn" style="min-height: 190px;">
                            </div>
                        </div>
                        <div width="100%" class="sc-bXVTRF kcjoIk">
                            <div height="40%" width="100%" class="sc-s1isp7-1 gMhjmN sc-hWWTYC kGlYQq">
                                <div alt="image" class="sc-s1isp7-0 hOjqjD"></div><img alt="image"
                                    src='{{pg.imageUrl[1]}}+?fit=around|300:273&amp;crop=300:273;*,*' loading="lazy"
                                    class="sc-s1isp7-5 eQUAyn" style="min-height: 190px;">
                            </div>
                        </div>
                    </section>
                    <section class="image-2">
                        <div width="100%" class="sc-bXVTRF gZZPsX">
                            <div height="100%" width="100%" class="sc-s1isp7-1 gMhjmN sc-hWWTYC cewBIx">
                                <div alt="image" class="sc-s1isp7-0 jSGWGb"></div><img alt="image"
                                    src='{{pg.imageUrl[1]}}+?fit=around|300:273&amp;crop=300:273;*,*' loading="lazy"
                                    class="sc-s1isp7-5 eQUAyn" style="min-height: 190px;">
                            </div>
                            <p class="sc-1hez2tp-0 sc-eylKsO jCGTUE">View Gallery</p>
                        </div>
                    </section>
                </div>

            </section>

            <section>
                <div class="info-summary">
                    <div class="info-1">
                        <div class="pg-name">{{pg.name}}</div>
                        <div class="rating-type">
                        </div>
                        <div class="rating"><span class="fas fa-star "></span>
                            <span class="fas fa-star "></span>
                            <span class="fas fa-star "></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star-o"></span>
                        </div>

                    </div>
                    <div class="info-2">
                        <p class="address">{{pg.address}} </p>
                        <!-- <div></div>
                        <div></div> -->
                    </div>
                    <!-- <div class="info-3">
                        <button>
                            <img src="../../../assets/directions (1).png">
                            <span>Directions</span>
                        </button>
                        <button>

                        </button>
                        <button>

                        </button> -->
                    <div class="info-3">
                        <a [href]="directionlink" target="_blank" rel="noopener noreferrer" class="sc-kxixoS jpeQyR">
                            <div class="btn"><mat-icon>directions</mat-icon>
                                <span>Direction</span>
                            </div>
                        </a>
                        <div class="btn"><mat-icon>favorite</mat-icon><span>Favorite</span>
                        </div>
                        <div class="btn"><mat-icon>share</mat-icon><span>Share</span></div>

                    </div>
                    <!-- </div> -->
                </div>
            </section>
            <hr>



            <section>
                <div class="main-section">
                    <div class="display">

                        <div>
                            <div class="heading">Room Details</div>

                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
                                (matSortChange)="announceSortChange($event)">

                                <ng-container matColumnDef="occupancy">
                                    <th mat-header-cell *matHeaderCellDef>Occupancy</th>
                                    <td mat-cell *matCellDef="let room"> {{room.occupancy}} </td>
                                </ng-container>
                                <ng-container matColumnDef="roomtype">
                                    <th mat-header-cell *matHeaderCellDef>Room Type</th>
                                    <td mat-cell *matCellDef="let room"> {{room.type}} </td>
                                </ng-container>

                                <ng-container matColumnDef="rooms">
                                    <th mat-header-cell *matHeaderCellDef>Rooms</th>
                                    <td mat-cell *matCellDef="let room"> {{room.rooms}} </td>
                                </ng-container>


                                <ng-container matColumnDef="vacancies">
                                    <th mat-header-cell *matHeaderCellDef>Vacancies</th>
                                    <td mat-cell *matCellDef="let room"> {{room.vacancies}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="rent">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rent / M </th>
                                    <td mat-cell *matCellDef="let room"> {{room.rent}} </td>
                                </ng-container>

                                <ng-container matColumnDef="deposit">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Deposit </th>
                                    <td mat-cell *matCellDef="let room"> {{room.deposit}} </td>
                                </ng-container>



                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                        </div>
                        <div>
                            <div class="heading">Common Amenities</div>
                            <div class="amenities-list">
                                <div class="Amenities" *ngFor="let amenities of pg.amenities">

                                    <i class="material-icons">{{amenities.icon}}</i>
                                    <span>{{amenities.title}}</span>


                                </div>


                            </div>
                        </div>
                        <div>

                            <div class="heading">PG Rules</div>
                            <div class="amenities-list">
                                <div class="Amenities" *ngFor="let rules of pg.rules">
                                    <i class="material-icons">{{rules.icon}}</i>
                                    <span>{{rules.title}}</span>
                                </div>

                            </div>
                        </div>
                        <div class="reviews">
                            <div class="heading">Reviews</div>
                            <div class="reviews-main">
                                <div class="user">
                                    <div class="review-heading">
                                        <img src="../../../assets/michael-dam-mEZ3PoFGs_k-unsplash.jpg" class="col-3">
                                        <div class="name col-6">hey</div>
                                        <div class="user-rating"><span class="fas fa-star "></span>
                                            <span class="fas fa-star "></span>
                                            <span class="fas fa-star "></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star-o"></span>
                                        </div>
                                    </div>
                                    <div class="user-comment">
                                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Molestias
                                            debitis soluta vitae nemo tempora et magni laborum eveniet molestiae?
                                            Voluptatum
                                            cupiditate asperiores natus officia, veniam eveniet pariatur ullam saepe
                                            qui.
                                        </div>
                                        <!-- 
                                        <div class="images">
                                            <img src="../../../assets/room-1.jpg">
                                            <img src="../../../assets/room-2.jpg">
                                        </div> -->
                                    </div>
                                </div>
                                <div class="user">
                                    <div class="review-heading">
                                        <img src="../../../assets/michael-dam-mEZ3PoFGs_k-unsplash.jpg" class="col-3">
                                        <div class="name col-6">hey</div>

                                        <div class="user-rating"><span class="fas fa-star "></span>
                                            <span class="fas fa-star "></span>
                                            <span class="fas fa-star "></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star-o"></span>
                                        </div>
                                    </div>
                                    <div class="user-comment">
                                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Molestias
                                            debitis soluta vitae nemo tempora et magni laborum eveniet molestiae?
                                            Voluptatum
                                            cupiditate asperiores natus officia, veniam eveniet pariatur ullam saepe
                                            qui.
                                        </div>
                                        <!-- <div class="images">
                                            <img src="../../../assets/room-1.jpg">
                                            <img src="../../../assets/room-2.jpg">
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="reporting">

                        <div class="report-text"><img src="../../../assets/warning.png">
                            <span style="font-size: 20px;">Report what was not correct in this
                                property</span>
                        </div>
                        <div class="report-options">
                            <button>Wrong info</button>
                            <button>Listed by broker</button>
                            <button>Rented Out</button>
                        </div>
                    </div> -->
                    </div>
                    <div class="side-section">
                        <h1>About this property</h1>
                        <p>{{pg.about}}
                        </p>
                        <div class="buttons">
                            <button class="call">Call Owner</button>
                            <button class="message">Message</button>
                        </div>
                    </div>
                </div>
                <div class="footer-section">
                    <div class="heading">Neighbourhood</div>
                    <div class="place"></div>
                </div>
            </section>



        </div>
    </main>
</div>