.main {
    position: relative;
    max-width: 140rem;
    max-height: initial;
    // margin: 1rem auto 0px;
    margin: 0 100px;
}

.images-section {
    position: relative;
    display: flex;
    flex-direction: row;
}
*,
:after,
:before {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

section {
    display: block;
    unicode-bidi: isolate;
}

div,
p,
span {
    font-size: 1.6rem;
}
body,
button,
input,
input::placeholder {
    font-family: Okra, Helvetica, sans-serif;
}
body,
button,
textarea,
input,
input::-webkit-input-placeholder {
    font-family: Okra, Helvetica, sans-serif;
}
body,
html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-weight: 300;
    box-sizing: border-box;
}
*,
:after,
:before {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}
*,
:after,
:before {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}
.kvUjFw {
    width: 100%;
    display: flex;
    height: 37rem;
}
div,
p,
span {
    font-size: 1.6rem;
}
*,
:after,
:before {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}
user agent stylesheet div {
    display: block;
    unicode-bidi: isolate;
}
body,
button,
input,
input::placeholder {
    font-family: Okra, Helvetica, sans-serif;
}
body,
button,
textarea,
input,
input::-webkit-input-placeholder {
    font-family: Okra, Helvetica, sans-serif;
}
body,
html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-weight: 300;
    box-sizing: border-box;
}
*,
:after,
:before {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}
*,
:after,
:before {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}
.eXVggh {
    min-width: 62.4%;
    max-width: 100%;
    width: 62.4%;
    height: 100%;
    position: relative;
    cursor: pointer;
    margin: 0px;
    overflow: hidden;
}
.kGlYQq {
    filter: none;
}

.gMhjmN {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.kTAgYn {
    position: absolute;
    top: 0px;
    background-image: url(https://b.zmtcdn.com/data/pictures/chains/8/43988/5c669c3….jpg?fit=around|51.45:27.75&crop=51.45:27.75;*,*);
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(10px);
}
.eQUAyn {
    width: 100%;
    max-height: 10%;
    // object-fit: cover;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    border-radius: inherit;
    filter: brightness(0.95);
    transition:
        transform 0.4s ease-in-out 0s,
        opacity 1.63s ease 0s,
        filter 0.4s ease 0s;
}
.image-2 {
    width: 100%;
    height: 100%;
    margin-left: 0.6rem;
    display: flex;
    flex-direction: column;
}

.gZZPsX {
    min-width: 62.4%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    margin: 0px 0px 0.3rem;
    overflow: hidden;
}
.kcjoIk {
    min-width: 62.4%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    margin: 0.3rem 0px 0px;
    overflow: hidden;
}
.hOjqjD {
    position: absolute;
    top: 0px;
    background-image: url(https://b.zmtcdn.com/data/pictures/chains/8/43988/bdcaeb4….jpg?fit=around|20:18.2&crop=20:18.2;*,*);
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(10px);
}
.gZZPsX {
    min-width: 62.4%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    margin: 0px 0px 0.3rem;
    overflow: hidden;
}
.cewBIx {
    filter: brightness(0.5);
}
.gMhjmN {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.jSGWGb {
    position: absolute;
    top: 0px;
    background-image: url(https://b.zmtcdn.com/data/pictures/chains/8/43988/dc19a97….jpg?fit=around|20:18.2&crop=20:18.2;*,*);
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(10px);
}
.iSpbZM {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    border-radius: inherit;
    filter: unset;
    transition:
        opacity 1.63s ease 0s,
        transform 0.25s ease 0s;
}

.jCGTUE {
    font-size: inherit;
    line-height: 1.5;
    margin: 0px;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 8rem;
    left: 0px;
    width: 100%;
    text-align: center;
}
.igUgTc {
    position: absolute;
    left: 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transform: translateY(50%);
    bottom: 3rem;
}
main {
    display: block;
    unicode-bidi: isolate;
}
// .main-div {
//     margin: 10px 170px;
// }

@media (min-width: 769px) {
    .hUhFdR {
        width: calc(100% + 1rem);
        padding-right: 1rem;
    }
}

.hUhFdR {
    position: sticky;
    top: 0px;
    z-index: 3;
    background: rgb(255, 255, 255);
    align-self: flex-start;
    width: 100%;
}
.ieQgAk {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.irTdAf {
    margin-top: 1rem;
    width: 100%;
}
.gLYugy {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.fPpMAv {
    width: 100%;
}
.brTljW {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.fwzNdh {
    line-height: 1.2;
    color: rgb(28, 28, 28);
    margin: 0px;
    font-weight: 500;
    font-size: 3.6rem;
    cursor: pointer;
}
.hOUWLw {
    display: flex;
    align-items: flex-start;
}

.clCBXa {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: inherit;
    cursor: pointer;
}
.jcWdhP {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(38, 126, 62);
    color: rgb(255, 255, 255);
    height: 2.6rem;
    min-width: 3rem;
    padding: 0px 0.4rem;
    font-size: 17px;
    border-radius: 0.6rem;
    border: 1px solid rgb(38, 126, 62);
}
.liCXOR {
    display: block;
    font-size: inherit;
}
.kHxpSk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: inherit;
    cursor: unset;
}
.kHxpSk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: inherit;
    cursor: unset;
}
.cILgox {
    margin-right: 0.2rem;
    font-weight: 600;
    font-size: inherit;
    padding-bottom: 0.1rem;
}
.pxJGx {
    margin-left: 0px;
}
.iFnyeo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: inherit;
}

.ffadyU {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
.bzIMnO {
    display: block;
    font-size: inherit;
    margin-left: 0.8rem;
}

.kEgyiI {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-bottom: 0px;
    border-bottom: unset;
    color: rgb(54, 54, 54);
}
.edgvoM {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-bottom: 0.2rem;
    border-bottom: 0.5px dashed rgb(181, 181, 181);
    color: rgb(54, 54, 54);
}
.bLOLd {
    box-sizing: border-box;
    min-width: 0px;
    position: relative;
}
.bFWudR {
    font-size: 1.8rem;
    line-height: 1.5;
    color: rgb(130, 130, 130);
    margin-top: 0.5rem;
}
.vNCcy {
    text-decoration: none;
    font-size: 1.6rem;
    color: rgb(156, 156, 156);
}
.dIdAej {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    align-items: flex-start;
    transition: opacity 0.2s ease-in-out 0s;
}
.dEfcmc {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: opacity 0.2s ease-in-out 0s;
}
.gGsJhe {
    color: rgb(244, 162, 102);
    font-size: 1.4rem;
    line-height: 1.5;
}
.dfwCXs {
    color: rgb(130, 130, 130);
    font-size: 1.4rem;
    line-height: 1.5;
}
.bAWgiD {
    position: relative;
    display: inline-block;
    padding: 0px;
    cursor: pointer;
    width: max-content;
}
.dAuoQE {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.fGMDFr {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0s;
}
.jpeQyR {
    text-decoration: none;
}
.jqVzDc {
    height: 3.6rem;
    width: max-content;
    padding: 0px 1rem;
    background: rgb(255, 255, 255);
    border-radius: 0.8rem;
    border: 1px solid rgb(156, 156, 156);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 1rem;
}
.iFnyeo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: inherit;
}
.hwEApa {
    font-size: 1.4rem;
    color: rgb(28, 28, 28);
    margin-left: 0.5rem;
    user-select: none;
}
.hdQOvm {
    height: 3.6rem;
    padding: 0px 1rem;
    background: rgb(255, 255, 255);
    border-radius: 0.8rem;
    border: 1px solid rgb(156, 156, 156);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 1rem;
    width: unset;
    position: relative;
}
// .rating {
//     width: 50px;
//     margin: 10px 0px;
//     //  background-color: #267e3e;
//     background-color: #355562;
//     color: white;
//     border: none;
//     border-radius: 5px;
//     padding: 4px;
//     align-items: center;
// }
.info-summary {
    margin-top: 20px;

    .info-1 {
        display: flex;
        flex-direction: row;
        // gap: 200px;
        justify-content: space-between;
        align-items: center;
        .pg-name {
            font-size: 34px;
            font-family: Okra, Helvetica, sans-serif;
            // font-family: Poppins;
            font-weight: 500;
        }
        .rating-type {
            display: flex;
            flex-direction: column;
            align-items: center;
            // border-bottom: 1px solid black;

            width: 70px;
            .rating-box {
                // width: 70px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                text-align: center;
                padding: 10px 10px;
                background: #b4da55;
                color: #fff;
                font-size: 20px;
                font-weight: bolder;
                width: 70px;
                display: flex;
                flex-direction: row;
                gap: 5px;
                // padding: 8px 0;
                align-items: center;
                .rating-star {
                    font-size: 20px;
                    text-align: center;
                    // font-family: Poppins;

                    font-weight: 600;
                }
                .fas {
                    text-align: center;
                    font-size: 14px;
                }
            }
            .rating-cnt {
                text-align: center;
                // border-top: 1px solid black;
                font-size: 14px;
                font-family: Okra;
                // font-weight: bold;
                width: 70px;
                // height: ;
                padding: 0px 5px;
                background-color: #f4f4f4;
            }
        }
    }
    .info-2 {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        // gap: 200px;

        .address {
            // color: rgb(156, 156, 156);
            color: rgb(187, 163, 163);
            font-weight: lighter;
            font-size: 1.2rem;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
    }
    .info-3 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;

        padding-bottom: 1rem;
        pointer-events: all;
        opacity: 1;
        transition: opacity 0.2s ease-in-out 0s;
        margin-top: 10px;

        .btn {
            height: 2.4rem;
            padding: 0px 1rem;
            background: rgb(255, 255, 255);
            border-radius: 0.8rem;
            border: 1px solid rgb(156, 156, 156);
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            cursor: pointer;
            margin-right: 1rem;
            width: 8rem;
            position: relative;
            mat-icon {
                color: var(--primary-color);
            }
            span {
                align-items: center;
                display: inline-block;
                vertical-align: middle;
                font-family: sans-serif;
                font-size: 1rem;
                color: #355562;
                margin-left: 0.5rem;
                user-select: none;
            }
        }
    }
    // button:hover {
    //     background-color: #0056b3;
    // }
}
.display {
    // padding: 20px;
    //  margin-top: 100px;
    height: 600;

    background-color: white;
    // border: 1px solid #0000002e;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .heading {
        border-bottom: 2px solid var(--primary-color);
        // border-bottom: 2px solid #fd3752;
        display: inline-block;
        margin: 10px;
        // color: #464646;
        color: black;
        padding: 12px 5px;
        font-size: 24px;

        font-weight: 500;
        // font-family: Poppins;
        font-family: Okra, Helvetica, sans-serif;
    }
}
table {
    width: 100%;
    margin: 20px 0px;
}

.mat-mdc-table tbody,
.mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-cell,
.mat-mdc-footer-cell,
.mat-mdc-header-row,
.mat-mdc-row,
.mat-mdc-footer-row,
.mat-mdc-table .mat-mdc-header-cell {
    background: inherit;

    color: #000;
}

.mdc-data-table__table {
    min-width: 30%;
    border: 0;
    // white-space: nowrap;
    border-spacing: 0;
    table-layout: fixed;
}

th {
    // background-color: rgba(202, 89, 89, 0.668) !important;
    background-color: var(--primary-color) !important;
    color: white !important;
    // font-weight: bold;
    font-size: 15px;
    font-style: Poppins;
    text-align: center;
}

tr {
    background-color: white !important;
}

table[_ngcontent-ng-c1738799994] {
    width: 50%;
    /* padding: 30px; */
    // margin: 30px;
}

table[_ngcontent-ng-c3103786414] {
    width: 50%;
    // margin: 30px;
}

.amenities-list {
    padding: 20px 16px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.Amenities {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    // gap: 10px;
    // gap: 10px;
    align-items: center;
    // background-color: white;
    // border: 1px solid rgba(0, 0, 0, 0.181);
    // width: fit-content;
    // border-radius: 16px;
    // // padding: 10px 16px;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // gap: 10px;
    font-family: Inter, sans-serif;
    i {
        font-size: 24px;
        // height: 50px;
        // width: 30px;
        padding: 10px 0px;
        // color: var(--primary-color);
        // color: #857e7e;
    }

    span {
        font-size: 16px;
        // font-family: roboto,'sans-serif';
        // border: 1px solid rgba(0, 0, 0, 0.301);
        // border-radius: 20px;
        padding: 5px 5px;
        color: #857e7e;
    }
}
.reporting {
    border: 2px dashed #35556245;
    border-radius: 10px;
    padding: 16px;
    width: 450px;
    margin-top: 50px;
    img {
        width: 20px;
        height: 20px;
    }

    .report-text {
        display: flex;
        gap: 16px;
        font-size: 12px;
        // color: #2a4856;
        color: rgba(0, 0, 0, 0.798);
        align-items: center;
        font-weight: 500;
        font-family: Poppins;
    }

    .report-options {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px 30px 0;

        margin: 4px 4px;

        button {
            // color: #2a4856;
            color: rgba(0, 0, 0, 0.798);
            padding: 8px 10px;
            font-size: 14px;
            border: 1px solid var(--primary-color);
            background-color: transparent;

            //  border-radius: 40px;
        }
    }
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
// .tablist {
//     background-color: #deeeff;
//     display: flex;
//     justify-content: center;
//     height: 100vh;
// }
.container {
    width: 1100px;
    background-color: white;
    // padding: 30px;
    // box-shadow: 0px 2px 16px rgb(0, 0, 0, 0.1);
    // border-radius: 20px;
    margin: 0;
    padding: 0px;
}
.tab_box {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    gap: 50px;
    align-items: center;
    border-bottom: 2px solid rgba(229, 229, 229);
    // font-size: 600;
    position: relative;

    .tab_btn {
        font-size: 20px;
        // font-weight: 600;
        color: rgb(105, 105, 105);
        // line-height: 27px;
        background: none;
        border: none;
        padding: 18px;
        cursor: pointer;
        font-family: Okra, Helvetica, sans-serif;
    }
    .tab_btn.active {
        color: var(--primary-color);
        // color: #7360ff;
    }
}
.line {
    top: 55px;
    // left: 17px;
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--primary-color);
    // background-color: #7360ff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.content_box {
    // padding: 20px;
    .content {
        display: none;
        animation: moving 0.5s ease;
        h2 {
            margin-bottom: 10px;
        }
    }
}
@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
.review-header {
    display: flex;
    flex-direction: row;
    gap: 370px;
    align-items: center;
    button {
        font-size: 20px;
        padding: 10px;
        color: white;
        background-color: black;
    }
}

.reviews-main {
    max-height: 400px;
    overflow: scroll;

    .review-heading {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        margin: 10px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            overflow: hidden;
        }
        img:hover {
            transform: scale(1.5);
        }
        .name {
            font-size: 20px;
            font-weight: bold;
        }
        .user-rating {
            font-weight: bold;
            margin-left: 100px;
            span {
                color: rgb(255, 170, 0);
                // color: var(--primary-color);
                // color: #355562;
                font-size: 20px;
            }
        }
    }
    .user-comment {
        margin: 10px 20px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 40px;
        border-bottom: 1px solid #0000002e;
        .text {
            font-family: Okra, Helvetica, sans-serif;
            font-size: 18px;
            color: rgb(105, 105, 105);
        }
        .images {
            margin: 10px 0px;
            // margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            img {
                height: 80px;
                width: 100px;
                border-radius: 10px;
            }
        }
    }
}
.main-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    .display {
        width: 60%;
    }
    .side-section {
        width: 40%;
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
        height: fit-content;

        box-sizing: border-box;

        .about {
            font-family: Okra, Helvetica, sans-serif;
            border-radius: 12px;
            box-shadow: rgba(28, 28, 28, 0.4) 0px 2px 8px;
            padding: 15px 15px 0px 15px;
            background: rgb(255, 255, 255);
            border: 1px solid rgb(248, 248, 248);
            h1 {
                text-align: center;
                border-bottom: 2px solid var(--primary-color);
            }
            p {
                padding: 5px;
                font-size: 16px;
                font-family: Okra, Helvetica, sans-serif;
                text-align: justify;
            }
            .buttons {
                display: flex;
                margin-left: -15px;
                margin-right: -15px;
                // gap: 20px;

                a {
                    margin: 10px 10px;
                    align-items: center;
                    text-align: center;
                    text-decoration: none;

                    width: 100%;
                    font-size: 15px;
                    // padding: 10px;
                    // margin: 10px 10px;
                    background-color: var(--primary-color);
                    border-radius: 12px;
                    height: 50px;
                    padding: 15px 0;
                    color: white;
                    font-size: 18px;
                    font-weight: 500;
                }
                .call {
                    // border-bottom-left-radius: 12px;
                    border-right: 2px solid white;
                }
                .message {
                    // border-bottom-right-radius: 12px;
                    border-left: 2px solid white;
                }
            }
        }
    }
}
.main-div {
    margin-top: 50px;
}
.footer-section {
    .heading {
        border-bottom: 2px solid var(--primary-color);
        // border-bottom: 2px solid #fd3752;
        display: inline-block;
        margin: 10px;
        color: #464646;
        padding: 12px 5px;
        font-size: 24px;

        font-weight: 500;
        // font-family: Poppins;
        font-family: Okra, Helvetica, sans-serif;
    }
    .place {
        margin-top: 24px;
        // border: 1px solid black;
    }
}

.add-review {
    position: relative;
    // background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    // padding: 25px 50px 35px;
    // height: 300px;
    // padding: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    .review-modal {
        header {
            font-size: 18px;
            color: black;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .stars {
            display: flex;
            align-items: center;
            gap: 20px;
            i {
                color: grey;
                font-size: 40px;
                cursor: pointer;
                transition: color 0.2s ease;
            }
        }
        textarea {
            margin-top: 200px;
        }
        .submit-btn {
        }
    }
}
.review-modal {
    display: flex;
    // width: 400px;
    flex-direction: column;
    height: 350px;
    gap: 20px;
    padding: 40px 0px;
    justify-content: center;
    align-items: center;
}
