@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
:root {
  // --primary-color: #e96a7e;
  --primary-color: rgb(204, 77, 77);

  // --primary-color: #e82574;

  --primary-color-dark: #bc1c5c;
  // --primary-color-light: rgba(204, 77, 77, 0.452);
  // --primary-color-light: rgba(204, 77, 77, 0.612);
  --primary-color-light: rgba(204, 77, 77, 0.285);
  --text-dark: #0c0a09;
  // --text-dark: #0c0a09a5;
  --text-light: #78716c;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  li {
    list-style: none;
    display: inline-block;
  }
}
.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
button {
  border: none;
}
.section__subheader {
  margin-bottom: 0.5rem;
  position: relative;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text-dark);
}

.section__subheader::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(1rem, -50%);
  height: 2px;
  width: 4rem;
  background-color: var(--primary-color);
}

.section__header {
  max-width: 600px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--text-dark);
}

// .section__description {
//   max-width: 600px;
//   margin-bottom: 1rem;
//   color: var(--text-light);
// }

// // .btn {
// //   padding: 0.75rem 1.5rem;
// //   outline: none;
// //   border: none;
// //   font-size: 1rem;
// //   font-weight: 500;
// //   color: var(--white);
// //   background-color: var(--primary-color);
// //   border-radius: 5px;
// //   cursor: pointer;
// //   transition: 0.3s;
// // }

// // .btn:hover {
// //   background-color: var(--primary-color-dark);
// // }

// img {
//   width: 100%;
//   display: flex;
// }

// a {
//   text-decoration: none;
// }

// .logo {
//   max-width: 120px;
// }

// html,
// body {
//   scroll-behavior: smooth;
//   margin: 0;
//   padding: 0;
// }

// body {
//   font-family: "Poppins", sans-serif;

//   height: 100vh;
//   width: 100vw;
// }

// // .header {
// //   background-image: url("assets/header.jpg");
// //   background-position: center center;
// //   background-size: cover;
// //   background-repeat: no-repeat;
// // }

// nav {
//   position: fixed;
//   isolation: isolate;
//   top: 0;
//   width: 100%;
//   max-width: var(--max-width);
//   margin: auto;
//   z-index: 9;
// }

// .nav__bar {
//   padding: 1rem;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   gap: 2rem;
//   background-color: var(--primary-color);
// }

// .nav__menu__btn {
//   font-size: 1.5rem;
//   color: var(--white);
//   cursor: pointer;
// }

// .nav__links {
//   list-style: none;
//   position: absolute;
//   width: 100%;
//   padding: 2rem;
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   gap: 2rem;
//   background-color: rgba(188, 28, 92, 0.9);
//   transform: translateY(-100%);
//   transition: 0.5s;
//   z-index: -1;
// }

// .nav__links.open {
//   transform: translateY(0);
// }

.nav__links a {
  position: relative;
  isolation: isolate;
  padding-bottom: 8px;
  color: var(--white);
  transition: 0.3s;
}

.nav__btn {
  display: none;
}

.header__container {
  padding-block: 10rem 15rem;
}

.header__container p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var (--white);
  text-align: center;
  opacity: 0;
}
// .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
//   border-bottom-color: #d81b60 !important;
// }
// .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
//   border-bottom-color: #d81b60 !important;
//   color: black !important;
// }
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
  color: black !important;
  border-bottom: 0.5px solid black !important;
  // height: 20px !important;
}
input {
  color: black !important;
  // height: 20px !important;
}
.mat-mdc-form-field-infix {
  color: black !important;
  background-color: white;
  padding: 0;
  min-height: 0px !important;
  // border-bottom: 1px solid black !important;
}
// // /* Add more CSS as needed */
::placeholder {
  color: grey !important;
  font-size: 14px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-cell,
.mat-mdc-footer-cell,
.mat-mdc-header-row,
.mat-mdc-row,
.mat-mdc-footer-row,
.mat-mdc-table .mat-mdc-header-cell {
  background: inherit;
  text-align: center !important;
  justify-content: center !important;
}
.mat-sort-header-container {
  text-align: center !important;
  justify-content: center !important;
}
// .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
//   padding: 10px;
// }
// .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
//   padding: 0;
// }
// .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) {
//   padding: 0;
// }
// .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
//   padding-top: 14px;
//   padding-bottom: 0px;
// }
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 8px;
}

// .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
//   padding-top: 24px;
//   padding-bottom: 8px;
// }

.mat-step-icon-selected {
  background-color: var(--primary-color) !important;
  color: var(--mat-stepper-header-selected-state-icon-foreground-color);
}
.mat-stepper-vertical,
.mat-stepper-horizontal {
  display: block;
  font-family: var(--mat-stepper-container-text-font);
  background: var(--white) !important;
}
.mat-step-label.mat-step-label-active {
  color: black !important;
}
.mat-mdc-button:not(:disabled) {
  color: black !important;
}
.mat-stepper-horizontal-line {
  border-top-width: 1px;
  border-top-style: solid;
  flex: auto;
  height: 0;
  margin: 0 -16px;
  min-width: 32px;
  border-top-color: var(--primary-color) !important;
}
.mat-step-icon {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  position: relative;
  color: white !important;
  background-color: black !important;
}
.mat-step-icon-state-edit {
  background-color: var(--primary-color) !important;
  color: var(--mat-stepper-header-edit-state-icon-foreground-color);
}
