<section>

    <div class="header-section">
        <div class="images">
            <div class="carousel">
                <ng-container *ngFor="let slide of slides; let i = index">
                    <img *ngIf="i === currentSlide" [src]="slide.src" class="slide" @carouselAnimation />

                </ng-container>


                <button class="control prev" (click)="onPreviousClick()">
                    <span class="arrow left"></span>
                </button>
                <button class="control next" (click)="onNextClick()">
                    <span class="arrow right"></span>
                </button>
            </div>

        </div>
        <div class="header-side">
            <div class="pg-name">{{pg.name}}</div>
            <div class="address"> {{pg.address}}</div>
            <div class="rating"><span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star-o"></span>
            </div>
            <div>


            </div>
            <div class="owner-section">
                <button class="owner-details" (click)="openlogin()">Get Owner details</button>
                <button class="contact-btn"><img src="../../../assets/phone-call.png"></button>
                <button class="contact-btn"><img src="../../../assets/email (3).png"></button>
                <button class="contact-btn"><img src="../../../assets/event.png"></button>
            </div>

            <div class="reporting">

                <div class="report-text"><img src="../../../assets/warning.png">
                    <span>Report what was not correct in this
                        property</span>
                </div>
                <div class="report-options">
                    <button>Wrong info</button>
                    <button>Listed by broker</button>
                    <button>Rented Out</button>
                </div>
            </div>
        </div>
    </div>

</section>
<section style=" width: 100%;
background-color: #f8f8f8;
" class="down-section">

    <div class="information">
        <div class="container">
            <div class="display">
                <div class="heading">Room Details</div>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
                    (matSortChange)="announceSortChange($event)">

                    <ng-container matColumnDef="roomtype">
                        <th mat-header-cell *matHeaderCellDef>Room Type</th>
                        <td mat-cell *matCellDef="let room"> {{room.roomtype}} </td>
                    </ng-container>

                    <ng-container matColumnDef="rooms">
                        <th mat-header-cell *matHeaderCellDef>Rooms</th>
                        <td mat-cell *matCellDef="let room"> {{room.rooms}} </td>
                    </ng-container>


                    <ng-container matColumnDef="vacancies">
                        <th mat-header-cell *matHeaderCellDef>Vacancies</th>
                        <td mat-cell *matCellDef="let room"> {{room.vacancies}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="rent">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rent / M </th>
                        <td mat-cell *matCellDef="let room"> {{room.rent}} </td>
                    </ng-container>

                    <ng-container matColumnDef="deposit">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Deposit </th>
                        <td mat-cell *matCellDef="let room"> {{room.deposit}} </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>


            </div>
            <div class="demo"></div>
        </div>
        <div class="container">
            <div class="display">
                <div class="heading">Common Amenities</div>
                <div class="amenities-list">
                    <div class="Amenities">
                        <img src="../../../assets/wifi.png">
                        <span>Free Wifi</span>
                    </div>
                    <div class="Amenities">
                        <img src="../../../assets/bed.png">
                        <span>Bedding</span>
                    </div>
                    <div class="Amenities">
                        <img src="../../../assets/water-dispenser.png">
                        <span>Water </span>
                    </div>
                    <div class="Amenities">
                        <img src="../../../assets/kitchen.png">
                        <span>Kitchen</span>
                    </div>
                    <div class="Amenities">
                        <img src="../../../assets/refrigerator.png">
                        <span>Refrigerator</span>
                    </div>
                    <div class="Amenities">
                        <img src="../../../assets/washing-machine.png">
                        <span>Laundry</span>
                    </div>
                    <div class="Amenities">
                        <img src="../../../assets/vacuum.png">
                        <span>Housekeeping</span>
                    </div>

                </div>
            </div>

        </div>

        <div class="container">
            <div class="display">
                <div class="heading">PG Rules</div>
                <div class="amenities-list">
                    <div class="Amenities">
                        <img src="../../../assets/no-alcohol.png">
                        <span>Alcohol</span>
                    </div>
                    <div class="Amenities">
                        <img src="../../../assets/no-smoking.png">
                        <span>Smoking</span>
                    </div>
                    <div class="Amenities">
                        <img src="../../../assets/no-visiting.png">
                        <span>Visitors</span>
                    </div>
                    <div class="Amenities">
                        <img src="../../../assets/gender-equality.png">
                        <span> No Opposite Gender</span>
                    </div>


                </div>
            </div>
            <div class="demo"></div>
        </div>

        <div class="container">
            <div class="display">
                <div class='heading'>Neighbourhood</div>
                <div class="place"></div>
            </div>

        </div>
    </div>


    <div class="reviews">
        <div class="reviews-header">
            <div class="reviews-heading">Reviews</div>

            <div class="main-info">
                <div class="reviews-stars">
                    <div class="rating">
                        4.0
                    </div>
                    <div class="stars">
                        <div class="stars-2">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                        </div>
                        <span>20K ratings</span>
                    </div>
                </div>
                <div class="reviews-bars">
                    <div class="d-flex" style="flex-direction: column;gap: 8px;">
                        <div class="flex-grow-1">
                            <div class="row align-items-center">
                                <div class="col-7">
                                    <div class="progress" style="height: 10px;">
                                        <div class="progress-bar" role="progressbar" style="    width: 75%;
            background-color: rgb(255, 162, 0);" aria-valuenow=" 75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-1 text-right" style="font-weight: bolder;">
                                    5.0
                                </div>
                                <div class="col-4 text-right" style="color: var(--text-light);">
                                    12K reviews
                                </div>

                            </div>

                        </div>
                        <div class="flex-grow-1">
                            <div class="row align-items-center">
                                <div class="col-7">
                                    <div class="progress" style="height: 10px;">
                                        <div class="progress-bar" role="progressbar" style="    width: 45%;
            background-color: rgb(255, 162, 0);" aria-valuenow=" 75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-1 text-right" style="font-weight: bolder;">
                                    4.0
                                </div>
                                <div class="col-4 text-right" style="color: var(--text-light);">
                                    12K reviews
                                </div>

                            </div>

                        </div>
                        <div class="flex-grow-1">
                            <div class="row align-items-center">
                                <div class="col-7">
                                    <div class="progress" style="height: 10px;">
                                        <div class="progress-bar" role="progressbar" style="    width: 28%;
            background-color: rgb(255, 162, 0);" aria-valuenow=" 75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-1 text-right" style="font-weight: bolder;">
                                    3.0
                                </div>
                                <div class="col-4 text-right" style="color: var(--text-light);">
                                    12K reviews
                                </div>

                            </div>

                        </div>
                        <div class="flex-grow-1">
                            <div class="row align-items-center">
                                <div class="col-7">
                                    <div class="progress" style="height: 10px;">
                                        <div class="progress-bar" role="progressbar" style="    width: 15%;
            background-color: rgb(255, 162, 0);" aria-valuenow=" 75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-1 text-right" style="font-weight: bolder;">
                                    2.0
                                </div>
                                <div class="col-4 text-right" style="color: var(--text-light);">
                                    12K reviews
                                </div>

                            </div>

                        </div>
                        <div class="flex-grow-1">
                            <div class="row align-items-center">
                                <div class="col-7">
                                    <div class="progress" style="height: 10px;">
                                        <div class="progress-bar" role="progressbar" style="    width: 25%;
            background-color: rgb(255, 162, 0);" aria-valuenow=" 75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-1 text-right" style="font-weight: bolder;">
                                    1.0
                                </div>
                                <div class="col-4 text-right" style="color: var(--text-light);">
                                    12K reviews
                                </div>

                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>
        <div class="reviews-main">
            <div class="user">
                <div class="heading">
                    <img src="../../../assets/michael-dam-mEZ3PoFGs_k-unsplash.jpg" class="col-3">
                    <div class="name col-6">Alexander Rity</div>
                    <div class="user-rating col-3">4.0 <span class="fa fa-star "></span></div>
                </div>
                <div class="user-comment">
                    <div class="text">Great rooms ! Feels just like home . Owner is very friendly . Prices are easy on
                        the pocket. Highly recommended !</div>
                    <div class="images">
                        <img src="../../../assets/room-1.jpg">
                        <img src="../../../assets/room-1.jpg">
                        <img src="../../../assets/room-1.jpg">
                    </div>
                </div>
            </div>
            <div class="user">
                <div class="heading">
                    <img src="../../../assets/michael-dam-mEZ3PoFGs_k-unsplash.jpg" class="col-3">
                    <div class="name col-6">Alexander Rity</div>
                    <div class="user-rating col-3">4.0 <span class="fa fa-star "></span></div>
                </div>
                <div class="user-comment">
                    <div class="text">Great rooms ! Feels just like home . Owner is very friendly . Prices are easy on
                        the pocket. Highly recommended !</div>
                    <div class="images">
                        <img src="../../../assets/room-1.jpg">
                        <img src="../../../assets/room-1.jpg">
                        <img src="../../../assets/room-1.jpg">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>